<h1>Editing Survey</h1>
 
<%= form_for :question, url: survey_question_path(id: @question), method: :patch do |f| %>
 
  <p>
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.label :need_mul %><br>
    <%= f.check_box :need_mul %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>